#ignore the database files in the database directory

db/*.0
db/*.ns
db/*.lock
db/journal

#prevent any swap files from sneaking into the repo

*.swp

#avoid saving any Mac files

.DS_Store

#ignore temp files

temp

#ignore the node modules (users should have this locally)
node_modules/

#ignore the bower modules (users should have this locally)
public/libs/
